1 ፎቶግራፍ
በዋስትና የሚቀርበው ሊብሬ / ካርታ ኮፒ
ዋስ – የደሞዝተኛ ዋስ ከሆነ ከሚሰራበት ቦታ የዋስትና ደብዳቤ ኦርጅናል
ቢዝነስ ፕላን ከማህበሩ 1,000.00 ብር ተከፍሎ የሚገዛ
የታደሰ መታወቂያ
**ተበዳሪ ባል / ሚስት
**የዋስ ባል / ሚስት
የጋብቻ ማረጋገጫ ሰርተፍኬት ወይም ያላገባ ሰርተፍኬት 6 ወር ያላለፈው የተበዳሪ እና የዋስ
የተበዳሪ እና የዋስ የትዳር አጋር የብድር ውል ላይ ይፈርማሉ መምጣት ካልቻሉ 6 ወር ያላለፈው ህጋዊ ወክልና
ቤት ለማሰራት ከሆነ ጊዜው ያላለፈበት የግንባታ ፈቃድ
በማህበር የሚሰራ ቤት ከሆነ ከማህበሩ የድጋፍ ደብዳቤ
